//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 13 12:27:51 2020
//! **************************************************************************

SCHEMATIC START;
COMP "pixel<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "pixel<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "pixel<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "pixel<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "row<0>" LOCATE = SITE "V16" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "pixel<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "row<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "pixel<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "row<2>" LOCATE = SITE "U14" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "pixel<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "row<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "row<4>" LOCATE = SITE "V15" LEVEL 1;
COMP "CAM_xclk" LOCATE = SITE "H4" LEVEL 1;
COMP "row<5>" LOCATE = SITE "V14" LEVEL 1;
COMP "row<6>" LOCATE = SITE "V12" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "CAM_pwdn" LOCATE = SITE "G4" LEVEL 1;
COMP "row<7>" LOCATE = SITE "V11" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "CAM_px_data<0>" LOCATE = SITE "K1" LEVEL 1;
COMP "CAM_px_data<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "CAM_href" LOCATE = SITE "H1" LEVEL 1;
PIN CAM_href_pin<0> = BEL "CAM_href" PINNAME PAD;
PIN "CAM_href_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CAM_px_data<2>" LOCATE = SITE "F6" LEVEL 1;
COMP "CAM_px_data<3>" LOCATE = SITE "J3" LEVEL 1;
COMP "btnP" LOCATE = SITE "M18" LEVEL 1;
PIN btnP_pin<0> = BEL "btnP" PINNAME PAD;
PIN "btnP_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CAM_px_data<4>" LOCATE = SITE "J2" LEVEL 1;
COMP "CAM_px_data<5>" LOCATE = SITE "J4" LEVEL 1;
COMP "CAM_px_data<6>" LOCATE = SITE "G6" LEVEL 1;
COMP "CAM_px_data<7>" LOCATE = SITE "E6" LEVEL 1;
COMP "CAM_pclk" LOCATE = SITE "G3" LEVEL 1;
PIN CAM_pclk_pin<0> = BEL "CAM_pclk" PINNAME PAD;
PIN "CAM_pclk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "VGA_Vsync_n" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_B<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_Hsync_n" LOCATE = SITE "B11" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "CAM_vsync" LOCATE = SITE "G1" LEVEL 1;
PIN CAM_vsync_pin<0> = BEL "CAM_vsync" PINNAME PAD;
PIN "CAM_vsync_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CAM_reset" LOCATE = SITE "H2" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "rst" LOCATE = SITE "N17" LEVEL 1;
COMP "pixel<0>" LOCATE = SITE "H17" LEVEL 1;
SCHEMATIC END;

